---
layout: single
title: Publications
permalink: /publications/
author_profile: true
---

{% for category in site.data.publications reversed %}
    <h3>{{category.year}}</h3>
  {% for publication in category.publications reversed %}
  <p>
      <strong>{{publication.title}}</strong>
      {% if publication.pdf %}<a href="{{publication.pdf}}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>{% endif %}
      {% if publication.slides %}<a href="{{publication.slides}}"><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i></a>{% endif %}
      <br/>
      {{publication.authors}}<br/>
      {{publication.where}}, {{publication.year}}
      
  </p>
  {% endfor %}
{% endfor %}
