---
layout: archive
author_profile: true
---

{% include base_path %}

<h1>Hello,</h1>
<p>
  I am a PhD student in computer science working in the <a href="http://diverse.irisa.fr/">DiverSE team</a> at <a href="https://www.irisa.fr/">IRISA</a>.
  My main research domains are <strong>Software Product Lines</strong> and <strong>Model Driven Engineering</strong>.
</p>
<p>
  During my thesis, I focused on the formalization of Product Comparison Matrices (PCMs).
  A PCM is a table comparing a set of products according to a set of features.
  For example, the PCM below compares smartphones (products) according to their processor, storage capacity and weight (features).
<p>
<img class="align-center" src="images/example.svg">
<p>
  PCMs abound on the Web, magazines and shops.
  My objective is to encode the information that PCMs contain in a standard and precise format.
  Then, with this format we can create specialized services for the creation and exploitation of PCMs.
  A direct output of my work is <a href="https://opencompare.org">OpenCompare</a>, an open source project offering a set of services dedicated to PCMs.
</p>
<p>
  Apart from PCMs, I use the concepts of product line engineering to generate personalized media content such as audio, <a href="http://40ansenfete.irisa.fr/">video</a> or text.
  I also love to play with <strong>Scala, Play Framework, Apache Spark, Angular, Typescript and Docker</strong>.
</p>



{% include paginator.html %}
